/* index.css */

body{
  background-image:url('https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
  font-family: tahoma;
}

#todo-wrapper{
  width: 80%;
  margin: 0 auto;
  background: rgba(255,255,255,0.6);
  border-top: 3px solid black;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  color: #333;
}

#todo-wrapper p{
  color: #777;
  font-style: italic;
}

#todo-list ul{
  list-style-type: none;
  padding: 0;
}
#link, #homeLink{
  color: pink;
  font-size: 13px;
 /* text-decoration-line: none;*/
}
